<!DOCTYPE html>
<html>
<head>
  <title>Matrix Display</title>
</head>
<body>

<h2>Given System (Augmented Matrix)</h2>

<table cellpadding="20">
  <% matrix.forEach(row => { %>
    <tr>
      <% row.forEach((value, index, arr) => { %>
        <% if (index === row.length - 1) { %>
          <td><%= value %></td>
        <% } else { %>
          <td><%= value %></td>
        <% } %>
      <% }) %>
    </tr> 
  <% }) %>
</table>

<table cellpadding="20">
  <% steps.forEach(row => { %>
    <tr>
      <% row.forEach((value, index, arr) => { %>
        <% if (index === row.length - 1) { %>
          <td><%= value %></td>
        <% } else { %>
          <td><%= value %></td>
        <% } %>
      <% }) %>
    </tr> 
  <% }) %>
</table>



<br>
<a href="/">Go Back</a>

</body>
</html>
