<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Echelon Calculator</title>
</head>
<body>
    <h2>Enter the Coefficients</h2>

<form action="/display" method="POST">
  <% for(let i = 0; i < 3; i++) { %>
    <% for(let j = 0; j < 4; j++) { %>
      <input 
        type="number" 
        name="matrix[<%= i %>][<%= j %>]"
        pattern="-?\d*\.?\d+" 
        step="any" 
        required>
    <% } %>
    <br><br>
  <% } %>
  
  <button type="submit">Display Equation</button>
</form>

</body>
</html>